<table class="table table-bordered table-striped table-hover table-sm" id="ToChildrenRelations"><thead><tr><th>child name</th><th>name from child to Persons</th><th>name from Persons to child</th><th>child side type</th><th>Persons side type</th></tr></thead><tbody></tbody></table>
