<table class="table table-bordered table-striped table-hover table-sm" id="ToParentsRelations"><thead><tr><th>parent name</th><th>name from Persons to parent</th><th>name from parent to Persons</th><th>Persons side type</th><th>parent side type</th></tr></thead><tbody></tbody></table>
