<div ws-template="FeedbackTable" class="card-body">
  <div class="row border-bottom">
      <div ws-replace="FieldsRow"></div>
  </div>
  <div class="row border-bottom">
      <div ws-replace="ValuesRow"></div>
  </div>
</div>
<div ws-replace="body"></div>
<div ws-template="KeyCell" class="col border-blue instance-field-label">
      ${Key}
</div>
<div ws-template="ValueCell" class="col fw-bold instance-field-value" data-myowndb-field-name="${DetailName}">
      <div ws-replace="Value"></div>
</div>
