<div class="card mb-4 instance-display">
    <div class="card-header">
        ${CardTitle}
    </div>
    <div class="card-body">
      <div ws-replace="Fields"></div>
      <div ws-template="Field" class="row border-bottom">
        <div class="col-2 border-blue instance-field-label">
            ${Key}
        </div>
        <div class="col fw-bold instance-field-value" data-myowndb-field-name="${DetailName}">
            <div ws-replace="Value"></div>
        </div>
      </div>
    </div>
</div>
