<table class="table table-bordered table-striped table-hover table-sm" id="ToChildrenRelations"><thead><tr><th>child name</th><th>name from child to formation</th><th>name from formation to child</th><th>child side type</th><th>formation side type</th></tr></thead><tbody></tbody></table>
