<table class="table table-bordered table-striped table-hover table-sm" id="ToParentsRelations"><thead><tr><th>parent name</th><th>name from formation to parent</th><th>name from parent to formation</th><th>formation side type</th><th>parent side type</th></tr></thead><tbody></tbody></table>
