<div class="p-md-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">${H1}</h1>
    </div>
    <div ws-replace="ErrorBox"/>
    <form class="user" action="authenticate" method="post">
        <div class="mb-3">
            <input type="email" class="form-control form-control-user" placeholder=${EmailPlaceHolder} name="login">
            <div id="emailHelp" class="form-text" ws-hole="EmailConfidentiality">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control form-control-user" placeholder=${PasswordPlaceHolder} name="password">
        </div>
        <div class="mb-3">
            <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" name="rememberMe" id="rememberMe">
                <label class="custom-control-label" for="rememberMe">${RembemberMe}</label>
            </div>
        </div>
        <input type="hidden" name="ReturnUrl" value="${ReturnUrl}"/>
        <button type="submit" class="btn btn-primary btn-user w-100">
            ${Send}
        </button>
    </form>
</div>
