<a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#${Title}" aria-expanded="true" aria-controls="collapsePages">
    <div class="sb-nav-link-icon"><i class="fas fa-${Icon}"></i></div>
    ${Title}
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse show" id="${Id}" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <div ws-replace="SectionItems"/>
</div>
