<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion${DatabaseId}">
  <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapse${DatabaseId}" aria-expanded="false" aria-controls="pagesCollapse${DatabaseId}">
        ${Database}
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="pagesCollapse${DatabaseId}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
        <nav class="sb-sidenav-menu-nested nav">
            <div ws-replace="Entities"/>
        </nav>
    </div>
</nav>
