<div class="card mb-4 instance-display">
    <div class="card-header">
        ${CardTitle}
    </div>
    <div class="card-body">
      <div ws-replace="Fields"></div>
       ${Test}
      <div ws-template="Field" class="row border-bottom">
        <div class="col-2 border-blue instance-field-label">
            ${Key}
        </div>
        <div class="col fw-bold instance-field-value">
            <div ws-replace="Value"></div>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-2">
          <a class="btn btn-primary" href="${EditLink}">${Edit}</a>
        </div>
      </div>
    </div>
</div>
